bin/
obj/
objns20/
objnc21/
objnc31/
objn5/
objn6/
cpp/
cpp_*/
tmp/
_ReSharper.Caches/
.vs/
.idea/
.sonarqube/
.tmp/
packages/
publish/
src/postbuild/
installer/**/Redist/
libToTest/
.packages/
*TestResult*.xml
*.suo
*.user
*.ide
*.ide-shm
*.ide-wal
*.lock
*.Tmp
.DS_Store
_CodeCoverageHistory/
build/log.txt
build/template_log.txt
build/*.log
build/*.Examples.xml
build/License/thirdpartylicenses.Aspose.Tasks.for.NET.pdf
*.wixobj
*.VC.VC.opendb
*.VC.db
*TestResults.xml
**/CopyrightGenerator.*
StyleCop.Cache
Settings.StyleCop
mono_crash.*
NDepend*/
*.ndproj
/src/Aspose.Tasks/objns20_ad
/external/licenses
/src/TestTasks
